.header {
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-between;
  border-style: solid;
  border-width: .5px;
  border-color: lightgray;
  
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
 height: 32px;
 margin-left: 32px;
 margin-right: 24px;
 cursor: pointer;
}

.youtube-logo {
  height: 29px;
  width: 120px;
  margin-left: 8px;
  cursor: pointer;
}

.middle-section {
  margin-left: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 616px;
  padding-left: 1px;
}

.search-bar {
  flex: 1; 
  height: 50px;
  width: 1500px;
  cursor: text;
  font-size: 20px;
  font-weight: 400;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 4px;
  box-shadow: inset 1px 2px 3px 
  rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 21px;
  padding-left: 15px;
}

.search-button-container {
  background-color: rgb(250, 250, 250);
  border-color: lightgray;
  cursor: pointer;
  height: 50px;
  width: 84px;
  border-style: solid;
  border-width: 0.1px;
  margin-left: -1px;

  display: flex;
  align-items: center;
  justify-content: center;
  
}
.search-button-container:hover {
  background-color: rgb(230, 230, 230);
}

.search-button {
  height: 32px;
}

.voice-button {
  margin-left: 22px;
  height: 32px;
  border-radius: 20px;
}
.voice-button:hover {
  background-color: rgb(230, 230, 230);
}

.right-section {
  background-color: lightblue;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.upload-icon {
height: 32px;
}

.youtube-apps {
height: 32px;
}

.notification-icon {
height: 32px;
}

.my-channel-thumbnail {
height: 42px;
border-radius: 20;
border: none;
}