.side-bar {
  z-index: 100;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 72px;
  width: 100px;
  padding-top: 8px;
  
  align-items: center;
}

.sidebar-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-link {
  height: 50px;
  width: 30px;
}