.side-bar {
  z-index: 100;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 72px;
  width: 100px;
  padding-top: 5px;
  
  align-items: center;
}

.sidebar-link {
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-link {
  height: 50px;
  width: 32px;
}

.sidebarlink-text {
  font-size: 14px;
}