.video-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;

      background-color: rgb(250, 250, 250);
    }

    .thumbnail-div {
      margin-bottom: 20px;
    }

    .thumbnail {
      width: 100%;
      cursor: pointer;
    }

    .channel-thumbnail {
      border-radius: 100px;
      width: 100%;
      cursor: pointer;
    }

    .video-info-grid {
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-column-gap: 8px;
    }

    .video-title {
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 12px;
      font-size: 16px;
      width: auto;
      line-height: 20px;
      cursor: pointer;
    }

    .channel-name,
    .video-stats {
      color: rgb(96, 96, 96);
      font-size: 15px;
      width: auto;
      cursor: pointer;
      margin-bottom: 4px;
    }